<h1>Editing Reserf</h1>

<%= render 'form' %>

<%= link_to 'Show', @reserf, {:class => "waves-effect waves-light btn blue"} %>
<%= link_to 'Back', reserves_path, {:class => "waves-effect waves-light btn grey darken-1"} %>
