%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} UTFPR
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        =link_to "Laboratórios", laboratories_path
      %li
        =link_to "Usuários", users_path
      %li
        %a{:href => "collapsible.html"} Criar reserva
